# Database Configuration
DB_HOST=localhost
DB_USER=root
DB_PASSWORD=password
DB_NAME=reachhomes

# Application Configuration
PORT=3000
APP_DOMAIN=reachhomes.local
APP_IP=127.0.0.1
NODE_ENV=development
GEMINI_API_KEY=
